.userTable {
    border:1px solid red;
    padding: 10px;
}
.userTable2 {
    border:3px solid yellowgreen;
}
.downValue {
    border:1px solid red;
    color: red
}
.upValue {
    border:6px solid green;
    color: green;
}